
@import '../index.scss';

.contact {
    
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    .header {
        
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: auto;
        margin-top: 5vw;
        margin-left: 20px;
        -webkit-transform: translate(-100%,0) perspective(0) rotate(-90deg);
        transform: translate(-100%,0) perspective(0) rotate(-90deg);
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
}