
@import '../index.scss';



.portfolio {
    background-color: #f4faff;
    position: relative;
    // display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f4faff, #c9dae8);
    position: relative;

    .header {
        display: flex;
        justify-content: center;
    }

    
    h1 {
        position: relative;
    }

    .slider-control-bottomcenter {
        display: flex;
        justify-content: center;
        position: relative !important;
        bottom: 0px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        padding-top: 15px !important;
    }
}


// .portfolio::before{
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat-x;
//     height: 10px;
//     background-size: 20px 20px;
//     background-image: radial-gradient(circle at 10px -5px, transparent 12px, #FFFFFF 13px);
// }
// .portfolio::after{
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat-x;
//     height: 15px;
//     background-size: 40px 20px;
//     background-image: radial-gradient(circle at 10px 15px, #FFFFFF 12px, transparent 13px);
// }