
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px !important;

        img {
            max-width: 300px;
        }

        .ant-tag {
            margin-top: 8px;
        }

        p {
            text-align: center;
        }
    }